.person-box {
    text-align: center;
    font-size: 15px;
    max-width: 290px;
    font-weight: 400;
    margin: 0 auto 40px;
}

.person-box__border {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    bottom: 0;
    border-right: 3px solid $color-red;
    border-bottom: 3px solid $color-red;
    border-left: 3px solid $color-red;

    &::after,
    &::before {
        position: absolute;
        top: 0;
        width: 15%;
        height: 3px;
        background-color: $color-red;
        content: '';
    }

    &::after {
        left: 0;
    }

    &::before {
        right: 0;
    }
}

.person-box__content {
    padding-left: 10px;
    padding-right: 10px;
}

.person-box__heading {
    color: $color-yellow;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.person-box__img {
    position: relative;
    padding: 3px 15px;
    margin-bottom: 15px;
}
