.article {
    &:not(:last-of-type) {
        margin-bottom: 60px;
    }

    h1,
    h2 {
        text-align: left;
    }
}

.article__title {
    margin-bottom: 15px;
}

.article-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

.article-preview--layout-left {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.article-preview__content {
    .article-preview--layout-left & {
        flex: 2;

        @include break(md) {
            flex: auto;
            width: 100%;
        }
    }
}

.article-preview__img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.article-preview__img--hover {
    backface-visibility: hidden;
    transition: all 0.6s ease-out;

    .article-preview:hover & {
        transform: scale(1.1) rotate(2deg);
    }
}

.article-preview__img-inner {
    overflow: hidden;
}

.article-preview__img-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

    .article-preview--layout-left & {
        width: 400px;
        margin-right: 40px;

        @include break(md) {
            width: 100%;
            margin-right: 0;
        }
    }

    .article-preview--left & {
        justify-content: flex-start;
    }
}
