.text-big {
    font-size: 18px;
}

.text-bigger {
    font-size: 17px;
}

.text-brown-light {
    color: $color-brown-light;
}

.text-huge {
    font-size: 21px;
    font-weight: 400;
}

.text-italic {
    font-style: italic;
}

.text-normal {
    font-size: 16px;
}

.text-red {
    color: $color-red;
}

.text-red-dark {
    color: $color-red-dark;
}

.text-silver {
    color: $color-silver;
}

.text-small {
    font-size: 14px;
}

.text-tiny {
    font-size: 11px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: $color-white;
}

.text-yellow {
    color: $color-yellow;
}
