.article {
    &:not(:last-of-type) {
        margin-bottom: 60px;
    }

    h1,
    h2 {
        text-align: left;
    }
}

.article__title {
    margin-bottom: 15px;
}

.article-preview {
    text-align: center;
    margin-bottom: 60px;
}

.article-preview--left {
    text-align: left;
}

.article-preview__img {
    transition: all 0.6s ease-out;

    .article-preview:hover & {
        transform: scale(1.1) rotate(2deg);
    }
}

.article-preview__img-wrapper {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
