.slider--dots-out {
    padding-bottom: 45px;
}

.slider-big__content {
    position: absolute;
    bottom: 85px;
    left: 0;
    width: 100%;
    text-align: right;
}

.slider-big__slide {
    position: relative;
}

.slider-products {
    margin-left: -10px;
}

.slider-products__slide {
    padding-left: 10px;
}
