$color-brown: #412b1f;
$color-brown-light: #724227;
$color-red: #e24f33;
$color-red-dark: #b12d14;
$color-silver: #a6a6a6;
$color-dark: #0c0c0c;
$color-dark2: #1b1b1b;
$color-darker: #363636;
$color-yellow: #efc661;
$color-yellow-full: #fbba22;
$color-white: #fff;
$color-gray-light: #d1cecc;
$color-orange: #e96628;
